body {
  margin: 0;
  margin-left: 5px;
  color: #333332;
  font-family: "Courier New", Courier, monospace; }

h1, p {
  font-family: "Courier New", Courier, monospace; }

#manifesto {
  background-image: url("/textedit.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 1000px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 25px;
  -webkit-box-shadow: 12px 20px 100px 12px #212121;
  box-shadow: 12px 20px 100px 12px #212121;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  position: fixed;
  top: 80px;
  left: 35px; }

#controls {
  margin: 0;
  height: 16px;
  width: 100%;
  cursor: move; }

.string, .orange {
  color: #cb4b16; }

.yellow {
  color: #b58900; }

.red {
  color: #dc322f; }

.magenta {
  color: #d33682; }

.violet {
  color: #6c71c4; }

.blue {
  color: #268bd2; }

.cyan {
  color: #2aa198; }

.green {
  color: #33bb00; }

#poem p {
  margin-top: 0;
  margin-bottom: 0; }

.p4, .p5, .p6, .p7, .p23 {
  margin-left: 20px; }
